* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Oswald', sans-serif;  */
}
.campus-section{
    /* margin-top: 6%; */
    position: relative;
    /* top:1200px; */
    margin-bottom: 0px;
}
.card .img .partner{
    width: 110px;
    height: 40px;
}
.section-header{
    font-family: 'Oswald', sans-serif;
    position: absolute;
    text-align: center;
    top:100px;

}
.section-title{
        color: #0170b8;
}
.section-header h2{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 2.1875em;
    letter-spacing: 0.18em;
    text-transform: uppercase;
}

.card .img img{
    width: 155px;
    height: 110px;
    object-fit: cover;
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    width: 175px;
    height:202px ;
    text-align: center;
    background: #ffffff;
    margin: 20px 10px;
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 5px 7px 0px rgb(204 204 204 / 59%);
    -moz-box-shadow: 4px 5px 7px 0px rgb(204 204 204 / 59%);
    -ms-box-shadow: 4px 5px 7px 0px rgb(204 204 204 / 59%);
    -o-box-shadow: 4px 5px 7px 0px rgb(204 204 204 / 59%);
    box-shadow: 4px 5px 7px 0px rgb(204 204 204 / 59%);
}

.campus{
    display: flex;
    align-items: center;
    justify-content: center;

}
.wrapper{
    margin-top: 11%;
    width: 100%;
    max-width: 1170px;
    height: 458px;
}
.wrapper .carousel{
    display: grid;
    grid-auto-flow:column;
    grid-auto-columns: calc((100% / 6));
    overflow: hidden;
}


.carousel-buttons{
    display: flex;
    justify-content: space-between;
 
}
.prev-btn,.next-btn{
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    letter-spacing: 0.32em;
    text-transform: uppercase;
    color: #00469d;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0.7;
    cursor: pointer;
}
.prev-btn{
    position: absolute;
    top:29%;
    padding-left: 60px;
    background: url(./campus-Images/prev.png) left 50% no-repeat;
    background-size: 1.3em 1em;

}
.next-btn{
    position: absolute;
    top:29%;
    right: 18%;
    padding-right: 35px;
    background: url(./campus-Images/next.png) right 50% no-repeat;
    background-size: 1.3em 1em;

}
.prev-btn:hover, .next-btn:hover{
    opacity: 1;
}
.card:hover{
    scale:1.1;
transition: all 0.3s ease-in-out;
}

.card a{
    text-decoration: none;
}
.card h3{
    font-size: 12px;
    color: #182f53;
    min-height: 42px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Montserrat;
}




/* @media screen  and (max-width:900px){
    .wrapper .carousel{
        grid-auto-columns: catc((100%/6));
    }
    
} */
/* @media screen  and (max-width:600px){
    .wrapper .carousel{
        grid-auto-columns: catc((100%/3));
    }
    
} */
/* @media screen  and (max-width:400px){
    .wrapper .carousel{
        grid-auto-columns: catc((100%/2));
    }
    .controls{
        font-size: 6px;
        padding: 3px;

    }
    .prev-btn, .next-btn{
        padding: 10px;
       position: absolute;
       top:20%;
    }
    
}
@media screen  and (max-width:200px){
    .wrapper .carousel{
        grid-auto-columns: 100%;
    }  
}
 */

.campus{
    background-attachment: fixed;
    z-index: 2;


} 

.why-dseu{
    max-width: 1358px;
    height:100vh ;
    position: relative;
}
.why-dseu-section::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-image: url('./campus-Images/Copy-of-IMG_2721-min.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.35;
}
.why-dseu h2{
    position: relative;
    text-align: center;
    color:#0170b8;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 2.1875em;
    letter-spacing: 0.18em;
    text-transform: uppercase;
}
.dseu-box{
    display: flex;
    justify-content: space-between;
}
.box{
    display: flex;
    justify-content: space-between;
}
.box .icons img{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    max-width: 100%;
    vertical-align: middle;
    width: 60px;
}

.box .icons{
    transition: all ease-in-out 0.2s;
    border-radius: 100px;
    width: 110px;
    height: 110px;
    flex-basis: 110px;
    margin-right: 5px;
    background: rgba(12, 14, 15, 0.6);
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    color: #182f53;
}
.box .label{
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    height: 112px;
    margin-top: -1px;
    background: rgb(12 14 15 / 63%);
    position: relative;
    padding: 15px;
    line-height: 22px;
    display: inline-flex;
    vertical-align: middle;
    align-content: center;
    width: 100%;
}

